@import url('https://fonts.googleapis.com/css2?family=K2D&family=Lalezar&display=swap');

*{
    font-family: 'K2D',serif;
}


    

        body{ 
            background: linear-gradient(0deg, rgba(14,185,223,1) 0%, rgba(16,88,144,1) 100%);
            background-repeat: no-repeat;
            margin: 0%;
        }


        header{
            background-color: black;
            border-bottom-left-radius: 70%;
            border-bottom-right-radius: 70%;
            justify-content: center;
            align-items: center;
            display: flex;
            
            
        }
        
        .collier{
            background-color: #ffb40a;
            width: 10px;
        }
        
        .medaille{
            background: linear-gradient(310deg, rgba(255,180,10,1) 0%, rgba(255,225,156,1) 100%);
            border-radius: 50%;
            width: 200px;
            height: 200px;
            border: black solid 4px;
            align-items: center;
            justify-content: center;
            display: flex;
            box-shadow: 10px 10px 15px rgb(39, 39, 39);
           
        }
        .med{
            display: flex;
            justify-content: center;
        }

        .medaille a{
            text-decoration: none;
            color: rgb(172, 112, 0);
        }

        .bouton{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
        }
        
        .bouton a{
            text-decoration: none;
            color: white;
        }
        
        .bouton img{
            width: 110px;
            height: 125px;
            color: white    ;
        }
        
        .div5 a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
.parent{
    height: 300px;
}

.div7 p{
    color: white;
    text-align: center;
}

.parent1 p{
    color: white;
    text-align: center;
}

.p4{
    color: white;
    text-align: center;
}

.div5{
    display: flex;
    justify-content: center;
    text-align: center;
}

.p1{
    font-size: 20px;
    position: relative;
    bottom: -205px;
    left: -65px;
}

.p2{
    font-size: 20px;
    position: relative;
    bottom: -160px;
    right: -65px;
}

.div4{
    display: flex;
}

.div6{
    display: flex;
}

.p3{
    font-size: 40px;
    display: flex;
    color: white;
    justify-content: center;
}

.p4{
    font-size: 40px;
 }

 .div8{
    display: flex;
    justify-content: center;
}

.div9{
    display: flex;
    justify-content: center;
    }

    .div10{
        display: flex;
        justify-content: center;
        }

        .div11{
            display: flex;
            justify-content: center;
            }

            .div12{
                display: flex;
                justify-content: center;
                }

                .div13{
                    display: flex;
                    justify-content: center;
                    }

                    .div14{
                        display: flex;
                        justify-content: center;
                        }

                        .div15{
                            display: flex;
                            justify-content: center;
                            }

                            .div16{
                                display: flex;
                                justify-content: center;
                                }

                                .div19{
                                    display: flex;
                                    justify-content: center;
                                    text-align: center;
                                    }

.parent1 img{
    border-radius: 15px;
    border: solid rgb(197, 128, 0) 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.chien1{
    border: none;
    box-shadow: none;
}
.chien2{
    border: none;
    box-shadow: none;
}

.pg{
    border: none;
    box-shadow: none;
    position: relative;
    bottom: -200px;
    width: 700px;
    height: 255px;
}

.pd{
    border: none;
    box-shadow: none;
    position: relative;
    bottom: -200px;
    width: 700px;
    height: 255px;
}


.div17{
    display: flex;
    justify-content: center;
}

.div18{
display: flex;
justify-content: center;
}

.p5{
    font-size: 20px;
    color: black;
    }

    .p6{
       
        font-size: 20px;
        color: black;
        }

        .p7{
            font-size: 20px;
            color: black;
            }

.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
}

.os{
    display: flex;
    justify-content: space-between;
}

.os2{
    background-color: white;
    border-top-right-radius: 25px;
    width: 50px;
    height: 40px;
}

.os1{
    background-color: white;
    border-top-left-radius: 25px;
    width: 50px;
    height: 40px;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer img{
    width: 20px;
    height: 20px;
    border: none;
    box-shadow: none;
}

.produits img{
    height: 400px;
    width: 400px;
}

.produits1 img{
    height: 400px;
    width: 400px;
}

.parent1 .p{
    height: 400px;
    width: 400px;
    font-size: 20px;
}

.produits{
    display: flex;
    justify-content: space-around;
}

.produits .p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.produits1 .p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.parent1 div{
    position: relative;
    text-align: center;
    align-items: center;
}

.parent1 img{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
}

.div8 .p{
    z-index: -1;
    transform: scale(0);
}

.div8:hover .p{
    transform: scale(1);
}

.div9 .p{
    z-index: -1;
    transform: scale(0);
}

.div9:hover .p{
    transform: scale(1);
}

.div10 .p{
    z-index: -1;
    transform: scale(0);
}

.div10:hover .p{
    transform: scale(1);
}

.div11 .p{
    z-index: -1;
    transform: scale(0);
}

.div11:hover .p{
    transform: scale(1);
}

.div12 .p{
    z-index: -1;
    transform: scale(0);
}

.div12:hover .p{
    transform: scale(1);
}

.div13 .p{
    z-index: -1;
    transform: scale(0);
}

.div13:hover .p{
    transform: scale(1);
}

.div14 .p{
    z-index: -1;
    transform: scale(0);
}

.div14:hover .p{
    transform: scale(1);
}

.div15 .p{
    z-index: -1;
    transform: scale(0);
}

.div15:hover .p{
    transform: scale(1);
}

.div16 .p{
    z-index: -1;
    transform: scale(0);
}

.div16:hover .p{
    transform: scale(1);
}

.div19 .p{
    z-index: -1;
    transform: scale(0);
}

.div19:hover .p{
    transform: scale(1);
}

.produits div:hover img{
    transform: scale(0);
}

.produits div:hover{
    position: relative;
}

.produits1 div:hover img{
    transform: scale(0);
}

.produits1 div:hover{
    position: relative;
}

.produits{
    display: flex;
    flex-direction: row;
}

.produits1{
    display: flex;
    justify-content: center;
}

.div8{
    display: block;
    flex-direction: column;
}

.div8 p{
    font-size: 40px;
    color: white;
}

.div9{
    display: block;
    flex-direction: column;
}

.div9 p{
    font-size: 40px;
    color: white;
}

.div10{
    display: block;
    flex-direction: column;
}

.div10 p{
    font-size: 40px;
    color: white;
}

.div11{
    display: block;
    flex-direction: column;
}

.div11 p{
    font-size: 40px;
    color: white;
}

.div12{
    display: block;
    flex-direction: column;
}

.div12 p{
    font-size: 40px;
    color: white;
}

.div13{
    display: block;
    flex-direction: column;
}

.div13 p{
    font-size: 40px;
    color: white;
}

.div14{
    display: block;
    flex-direction: column;
}

.div14 p{
    font-size: 40px;
    color: white;
}

.div15{
    display: block;
    flex-direction: column;
}

.div15 p{
    font-size: 40px;
    color: white;
}

.div16{
    display: block;
    flex-direction: column;
}

.div16 p{
    font-size: 40px;
    color: white;
}

.div19{
    display: block;
    flex-direction: column;
}

.div19 p{
    font-size: 40px;
    color: white;
}
@media screen and (max-width: 700px) {
.medaille{
    width: 100px;
    height: 100px;
    font-size: 10px;
}

.pg{
   display: none;
}

.pd{
    display: none;
}

.p3{
    font-size: 17px;
    height: 5px;
}

.p4{
    font-size: 12px;
}

.parent1 img{
    height: 110px !important;
    width: 110px !important;
}

.parent1 .p{
    height: 110px !important;
    width: 110px !important;
    font-size: 8px !important;
}

.parent1 p{
    font-size: 12px !important;
}

.produits div{
    height: 150px !important;
    width: 150px !important;
    margin-top: 10px;
}

.produits1 div{
    height: 120px !important;
    width: 100px !important;
}

.footer{
    font-size: 8px ;
    align-items: end;
}

.bouton img{
    height: 75px;
    width: 75px;
}
}

@media screen and (max-width: 1300px){
.pg{
    display: none;
}
     
.pd{
    display: none;
}

.produits img{
    height: 300px;
    width: 300px;
}

.produits .p{
    height: 300px;
    width: 300px;
    font-size: 15px;
}

.produits1 img{
    height: 300px;
    width: 300px;
}

.produits1 .p{
    height: 300px;
    width: 300px;
    font-size: 15px;
}
}
