@import url('https://fonts.googleapis.com/css2?family=K2D&family=Lalezar&display=swap');

*{
    font-family: 'K2D',serif;
}

header{
    background-color: black;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.collier{
    background-color: #ffb40a;
    width: 10px;
}

.medaille{
    background: linear-gradient(310deg, rgba(255,180,10,1) 0%, rgba(255,225,156,1) 100%);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: black solid 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.medaille a{
    text-decoration: none;
    color: rgb(172, 112, 0);
}

body{
    background: linear-gradient(0deg, rgba(14,185,223,1) 0%, rgba(16,88,144,1) 100%);
    background-repeat: no-repeat;
    margin: 0;
}

.med{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

.bouton{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.bouton a{
    text-decoration: none;
    color: white;
}

.bouton img{
    width: 110px;
    height: 125px;
    color: white    ;
}

.chartes{
    text-align: center;
}

.chartes img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
    margin: 10px;
}

.pres{
    text-align: center;
    color: white;
    font-size: 20px;
}

.pattes{
    display: flex;
    flex-direction: row;
    width: 520px;
    height: 240px;
}

.pattes1{
    display: flex;
    flex-direction: row;
    width: 520px;
    height: 258px;
}

.pattes h2{
    display: flex;
    align-items: center;
}

.pattes1 h2{
    display: flex;
    align-items: center;
}

.vitrine{
    text-align: center;
    color: white;
    font-size: 20px;
}

.pattes2{
    display: flex;
    flex-direction: row;
    width: 510px;
    height: 255px;
}

.pattes2 h2{
    display: flex;
    align-items: center;
}

.vetements{
    text-align: center;
    color: white;
    font-size: 20px;
}

.vetements1{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 225px;
}

.vetements1 h2{
    display: flex;
}

.cousinerie{
    text-align: center;
    color: white;
    font-size: 20px;
}

.cousinerie1{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 245px;
}

.cousinerie1 h2{
    display: flex;
    align-items: center;
}

.noel{
    text-align: center;
    color: white;
    font-size: 20px;
}

.noel1{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 338px;
}

.noel1 h2{
    display: flex;
    align-items: center;
}

.halloween{
    text-align: center;
    color: white;
    font-size: 20px;
}

.halloween1{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 563px;
}

.halloween1 h2{
    display: flex;
    align-items: center;
}

.titre{
    font-size: 22px;
    font-style: italic;
}

.horaires{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TopModel{
    text-align: center;
    color: white;
}

.TopModel .top1 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.TopModel .top img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.TopModel .top2 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.TopModel .top3 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.TopModel .top4 img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.top{
    display: flex;
    justify-content: space-evenly;
}

.top1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.top2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.top3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.top4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.vitrine .vitr img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.vetements .vitr img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.cousinerie .vitr img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.noel .vitr img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.halloween .vitr img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: rgb(197, 128, 0) solid 4px;
    box-shadow: 10px 10px 15px rgb(39, 39, 39);
}

.vitr{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
}

.os{
    display: flex;
    justify-content: space-between;
}

.os2{
    background-color: white;
    border-top-right-radius: 25px;
    width: 50px;
    height: 40px;
}

.os1{
    background-color: white;
    border-top-left-radius: 25px;
    width: 50px;
    height: 40px;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:1300px) {
    .pattes img{
        display: none;
    }

    .pattes1 img{
        display: none;
    }

    .pattes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .pattes1{  
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    .pres{
        font-size: 17px;
    }
}

@media screen and (max-width:700px) {
    .medaille{
        width: 100px;
        height: 100px;
        font-size: 10px;
    }

    .pattes img{
        display: none;
    }

    .pattes1 img{
        display: none;
    }

    .pattes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        font-size: 12px;
    }

    .pattes1{  
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;
        font-size: 13px;
    }

    .pres{
        font-size: 12px;
    }

    .pres h3{
        font-size: 15px;
    }

    .footer{
        font-size: 8px ;
        align-items: end;
    }

    .TopModel .top1 img{
        width: 125px;
        height: 125px;
    }
    
    .TopModel .top img{
        width: 125px;
        height: 125px;
    }
    
    .TopModel .top2 img{
        width: 125px;
        height: 125px;
    }
    
    .TopModel .top3 img{
        width: 125px;
        height: 125px;
    }
    
    .TopModel .top4 img{
        width: 125px;
        height: 125px;
    }
}